@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500&display=swap');

@font-face {
  font-family: 'OS XOXO';
  font-style: normal;
  font-weight: 400;
  src: url(./OSXOXO-Mono.woff2) format('woff2'),
    url(./OSXOXO-Mono.otf) format('opentype');
}
